.c-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 3.5rem;
    background-color: $verydarkgray;
    transition: background-color 200ms ease;
    cursor: pointer;
    &__container {
        display: flex;
        justify-content: center;
        width: 35%;
        max-width: 7rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    & > img {
        width: 12px;
    }
    &:hover{
        background-color: $darkgray;
    }
}