.c-slider {
    display: flex;
    overflow: hidden;
    min-height: 50vh;
    position: relative;
    &__img-hero {
        display: none;
        width: 100vw;
        &.is-active {
            display: block;
        }
    }
    @include breakpoint {
        width: 100%;
        & > .c-btn__container {
            display: none;
        }
    }
}