@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.6;
  color: #a1a1a1;
  font-size: .813rem;
}

body {
  font-family: 'Spartan';
}

.animation-stopper * {
  -webkit-animation: none !important;
          animation: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

@media (min-width: 1225px) {
  .l-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.intro {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro > .c-btn__container {
  display: none;
}

@media (min-width: 1225px) {
  .intro > .c-btn__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
  }
}

.intro__title {
  font-weight: 600;
  font-size: 1.7rem;
  margin: 2rem 0 1rem 0;
}

@media (min-width: 1225px) {
  .intro__title {
    font-size: 2.5rem;
  }
}

.intro__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  opacity: 0;
}

@media (min-width: 1225px) {
  .intro__container {
    min-height: 45%;
  }
}

.intro__container.is-active {
  opacity: 1;
  position: relative;
}

.intro__container--inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  max-width: 16.5rem;
  bottom: 0;
  position: initial;
  margin: 4rem 0;
  opacity: 1;
}

@media (min-width: 1225px) {
  .intro__container--inline {
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 10%;
  }
}

.intro__container--inline > a {
  letter-spacing: .80rem;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}

.intro__container--inline > a:hover {
  color: #a1a1a1;
}

@media (min-width: 1225px) {
  .intro {
    width: 68%;
    padding: 0 2rem;
  }
}

.about {
  width: 90%;
  margin: 2rem auto;
}

.about__title {
  margin: 1rem 0;
  letter-spacing: .30rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .990rem;
}

@media (min-width: 1225px) {
  .about__title {
    font-size: 1rem;
  }
}

.about__img-dark, .about__img-light {
  width: 100%;
}

@media (min-width: 1225px) {
  .about {
    padding: 0 2rem;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.c-main-nav {
  position: absolute;
  width: 100%;
  padding: 2.5rem 1.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
}

.c-main-nav.is-active {
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.c-main-nav__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-main-nav__list {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 2.5rem 2rem;
  width: 100%;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: -webkit-transform 400ms ease;
  transition: -webkit-transform 400ms ease;
  transition: transform 400ms ease;
  transition: transform 400ms ease, -webkit-transform 400ms ease;
}

@media (min-width: 1225px) {
  .c-main-nav__list {
    position: relative;
    padding: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: none;
    transition: none;
  }
}

.c-main-nav__list-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.c-main-nav__list.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.c-main-nav__link {
  font-size: 0.75rem;
  font-weight: 600;
  color: black;
  text-transform: lowercase;
  margin-left: 2rem;
}

@media (min-width: 1225px) {
  .c-main-nav__link {
    font-size: .900rem;
  }
}

@media (min-width: 1225px) {
  .c-main-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .c-main-nav__logo {
    width: 10%;
    margin-top: .23rem;
  }
  .c-main-nav__list {
    background-color: transparent;
  }
  .c-main-nav__link {
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, currentColor)) bottom/var(--d, 0) 2px no-repeat;
    background: linear-gradient(currentColor 0 0) bottom/var(--d, 0) 2px no-repeat;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-bottom: .80rem;
  }
  .c-main-nav__link:hover {
    --d: 100%;
  }
  .c-main-nav__hamburger, .c-main-nav__close {
    display: none;
  }
}

.c-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 3.5rem;
  background-color: #454545;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  cursor: pointer;
}

.c-btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35%;
  max-width: 7rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.c-btn > img {
  width: 12px;
}

.c-btn:hover {
  background-color: #a1a1a1;
}

.c-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 50vh;
  position: relative;
}

.c-slider__img-hero {
  display: none;
  width: 100vw;
}

.c-slider__img-hero.is-active {
  display: block;
}

@media (min-width: 1225px) {
  .c-slider {
    width: 100%;
  }
  .c-slider > .c-btn__container {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */